<%= form_for(pref) do |f| %>
  <% if pref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pref.errors.count, "error") %> prohibited this pref from being saved:</h2>

      <ul>
      <% pref.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :language %>
    <%= f.number_field :language %>
  </div>

  <div class="field">
    <%= f.label :timezone %>
    <%= f.text_field :timezone %>
  </div>

  <div class="field">
    <%= f.label :date_format %>
    <%= f.text_field :date_format %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
